<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" ngModel>
                    <small class="form-text text-muted">Applicators, Pneumatic Feed, OCEAN, Male Adapter Post - Atlantic Style Interface, 40 mm (1.62") Stroke Terminator / 30 mm (1.12") Stroke Terminator</small>
                </div>

                <div class="form-group">
                    <label>Drawing URL</label>
                    <input type="text" class="form-control" name="drawingUrl" ngModel>
                    <small class="form-text text-muted">Copy and paste the link where you've found this applicator</small>
                </div>

                <div class="form-group">
                    <label>Fruition Applicator Id</label>
                    <input type="text" class="form-control" name="applicatorId" ngModel>
                    <small class="form-text text-muted">E.g. - App 101</small>
                </div>

                <div class="form-group">
                    <label>Manufacturer</label>
                    <input type="text" class="form-control" name="manufacturer" ngModel>
                    <small class="form-text text-muted">E.g. - TE, Molex, Mecal, etc</small>
                </div>
        
                <div class="form-group">
                    <label>Manufacturer Number</label>
                    <input type="text" class="form-control" name="manufacturerNumber" ngModel>
                    <small class="form-text text-muted">E.g. - For TE, 2151032</small>
                </div>

                <div class="form-group">
                    <label>Stroke length</label>
                    <select class="form-control" name="strokeLength" ngModel>
                      <option>30mm</option>
                      <option>40mm</option>
                    </select>
                    <small class="form-text text-muted">G-press = 30mm, K-press = 40mm</small>
                  </div>

                  <div class="form-group">
                    <label>Style</label>
                    <select class="form-control" name="style" ngModel>
                      <option>Mechanical</option>
                      <option>Pneumatic</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Crimp width min (mm)</label>
                    <input type="text" class="form-control" name="wireCrimpWidthMin" ngModel>
                </div>

                <div class="form-group">
                    <label>Crimp width max (mm)</label>
                    <input type="text" class="form-control" name="wireCrimpWidthMax" ngModel>
                </div>
                
                <div class="form-group">
                    <label>Insulator width min (mm)</label>
                    <input type="text" class="form-control" name="wireInsulatorWidthMin" ngModel>
                </div>

                <div class="form-group">
                    <label for="wire-insulator-width-max">Insulator width max (mm)</label>
                    <input type="text" class="form-control" name="wireInsulatorWidthMax" ngModel>
                </div>

            <button class="btn btn-primary btn-block mt-2" type="submit">Submit</button>

        </form>
        <br>
    </div>
</div>
